.container {
  display: block;
  padding: 0px 15px;
  margin: 0px auto;

  @include media(mobile) {
    width: 480px;
    // background-color: tomato;
  }
  @include media(tablet) {
    width: 768px;
    // background-color: rgb(19, 19, 162);
  }

  @include media(desktop) {
    width: 1200px;
    // background-color: rgb(158, 158, 155);
  }
}
