body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white-color);
  color: var(--title-text-color);
  letter-spacing: 0.03em;
}

.section {
  @include media(max-t) {
    padding: 60px 0px;
  }
  @include media(desktop) {
    padding: 94px 0px;
  }
}

.section-title {
  text-align: center;

  font-size: 28px;
  line-height: 1.17;

  @include media(max-t) {
    margin-bottom: 30px;
  }
  @include media(desktop) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.16;
  }
}
