:root {
  --bgc-color-white: #e5e5e5;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --paragraf-color: #757575;
  --bot-contact-rgb: rgba(255, 255, 255, 0.6);
  --footer-color: #2f303a;
  --white-color: #ffffff;
  /* Fonts */
  --main-font: Roboto;
}
