.advantages__list {
  @include media(tablet-only) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @include media(desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.advantages__devices {
  @extend %centeredFlex;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
}
.main-advantages__title {
  @extend %hidden;
}

.advantages__title {
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--paragraf-color);
}

.advantages__item {
  @include media(tablet) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  &:not(:last-child) {
    @include media(mobile-only) {
      margin-bottom: 30px;
    }
  }
}
