.advantages {
  @media screen and (max-width: 1599px) {
    padding: 60px 15px;
  }

  @media screen and (min-width: 1600px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advantages__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1600px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.advantages__devices {
  @extend %centeredFlex;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;

  @media screen and (max-width: 767px) {
    width: 450px;
    height: 120px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    height: 120px;
  }
  @media screen and (min-width: 1600px) {
    width: 270px;
    height: 120px;
  }
}
.main-advantages__title {
  @extend %hidden;
}

.advantages__title {
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--paragraf-color);
}

.advantages__item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 1600px) {
    width: 270px;
  }
}
