.footer {
  background-color: var(--footer-color);

  @include media(max-dd) {
    padding: 60px 0px;
  }
}

// footer contacts block

.footter_block {
  @include media(desktop) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer-container {
  @include media(tablet) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  @include media(tablet-only) {
    margin-bottom: 60px;
  }

  @include media(desktop) {
    align-items: center;
    justify-content: space-around;
    align-items: baseline;
  }
}

.address {
  text-align: center;

  @include media(mobile-only) {
    margin-bottom: 60px;
  }
  @include media(desktop) {
    margin-right: 70px;
  }
}

.main-adress {
  align-items: center;
  margin-top: 20px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--bot-contact-rgb);

  &__list {
  }

  &__street {
    color: rgba(255, 255, 255, 1);
  }
}

.main-address__item:not(:last-child) {
  margin-bottom: 8px;
  @include media(desktop) {
    margin-bottom: 9px;
  }
}

.main-address__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;

  color: rgba(255, 255, 255, 0.6);

  @include transitionCubic(color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.social-block {
  @include media(mobile);
  margin-bottom: 60px;
  text-align: center;
}

/* ===============
/*  Footer form */
/* ============= / */

.submit {
  text-align: center;
}

.footer-form {
  @include media(max-t) {
  }
  @include media(desktop) {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 20px;
  }
}

.submit-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);

  @include media(max-dd) {
    margin-bottom: 20px;
  }
}
.mail-input {
  width: 100%;
  height: 50px;
  padding: 16px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  color: var(--white-color);

  @include media(desktop) {
    width: 358px;
  }
}

.submit-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  background-color: var(--accent-color);
  color: var(--white-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  @include transitionCubic(box-shadow);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  @include media(max-t) {
    margin-top: 20px;
  }

  @include media(desktop) {
    margin-left: 12px;
  }
}

.socials-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--white-color);
}

.footer-socials {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.fticon {
  fill: var(--white-color);
}
