.header {
  background-color: var(--white-color);
  border-bottom: 1px solid var(--bgc-color-white);
}

.header-section {
  position: relative;

  display: flex;
  justify-content: space-between;

  @include media(mobile-only) {
    align-items: center;

    height: 60px;
    padding: 0px 15px;
    background-color: var(--white-color);
  }
  @include media(tablet) {
    align-items: baseline;
  }
}

// ========HEAD NAV========

.head-nav {
  @include media(mobile-only) {
    display: none;
  }
  @include media(tablet) {
    display: flex;
  }

  &__pages {
    @include media(tablet) {
      display: flex;
      margin-right: 84px;
    }
    @include media(desktop) {
      margin-right: 305px;
    }
  }
  &__list {
    @include media(tablet) {
      display: flex;
    }
  }

  &__link {
    display: block;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 28px 0px;

    &:hover,
    &:focus {
      color: var(--accent-color);
    }

    &--current::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;

      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-color);
    }
  }
  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 50px;
    }
    &__item:not(:last-child) {
      margin-right: 50px;
    }
  }
  &__link--current::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

// =========Contacts==========

.contacts {
  display: flex;
  align-items: center;

  @include media(tablet-only) {
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
  }

  &__item:not(:last-child) {
    @include media(tablet-only) {
      margin-bottom: 10px;
    }
    @include media(desktop) {
      margin-right: 30px;
    }
  }

  &__top-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--paragraf-color);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }

    @include media(mobile-only) {
      display: none;
    }
  }
  &__icon--mail {
    @include media(tablet-only) {
      width: 14px;
      height: 10px;
      margin-right: 8px;
    }
  }
  &__icon--phone {
    @include media(tablet-only) {
      width: 10px;
      height: 14px;
      margin-right: 8px;
    }
  }
  &__icon--phone,
  &__icon--mail {
    margin-right: 10px;
  }
}

.fill {
  fill: currentColor;
}

.contacts__top-link,
.head-nav__link {
  @include media(desktop) {
    padding: 32px 0px;
  }

  @include transitionCubic(color);
}

// SIDE NAV

.side-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  padding: 40px 48px;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;

  z-index: 999;
  height: 796px;

  transform: translateY(-100%);
  @include transitionCubic(transform);

  @include media(tablet) {
    display: none;
  }

  @include media(max-m) {
    &.is-open {
      transform: translateY(0);

      @include transitionCubic(transform);
    }
  }

  &__pages {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    @include transitionCubic(color);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  &__contacts {
    margin-top: auto;
    margin-bottom: 64px;
  }

  &__link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--paragraf-color);

    @include transitionCubic(color);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    &--mail {
      font-size: 24px;
      line-height: 1.16;
    }

    &--phone {
      font-size: 34px;
      line-height: 1.17;
    }
  }

  &_item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__socials {
    display: flex;
    justify-content: center;
  }

  &__invet {
    color: var(--accent-color);
    padding: 0px 10px;
  }
  &__invet:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  &__social--link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;

    letter-spacing: 0.02em;

    color: var(--accent-color);
  }
}

// =======MENU BUTTON======

.menu-button {
  width: 40px;
  height: 40px;

  margin: 0;
  padding: 0;

  background-color: transparent;
  cursor: pointer;
  margin-left: auto;
  background-color: transparent;
  border: none;
  z-index: 1000;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  @include transitionCubic(fill);

  @media screen and (min-width: 768px) {
    display: none;
  }
  & .icon-cross {
    display: none;
  }

  &.is-open .icon-cross {
    display: block;
  }
  &.is-open .icon-menu {
    display: none;
  }
}
