.header {
  position: relative;

  background-color: var(--white-color);
  position: relative;
  height: 80px;
  border-bottom: 1px solid var(--bgc-color-white);

  @include media(max-m) {
    height: 60px;
  }
}

@include media(tablet) {
  align-items: baseline;
}

.header__wrapper {
  @include media(mobile-only) {
    height: 59px;
    padding: 0px 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @include media(tablet) {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

// ========HEAD NAV========

.head-nav__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.head-nav {
  @include media(max-m) {
    position: fixed;
    z-index: 2;

    top: 0;
    right: 0;
    padding: 48px 40px;
    display: none;

    width: 100vw;
    height: 100vh;
    background-color: var(--white-color);

    &.is-open {
      display: block;
    }
  }
  @include media(tablet) {
    display: flex;
    align-items: center;
  }

  &__pages {
    @include media(tablet) {
      margin-right: 84px;
    }

    @include media(desktop) {
      margin-right: 305px;
    }
  }

  &__list {
    @include media(tablet) {
      display: flex;
    }
  }
  &__link {
    display: block;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    @include media(tablet) {
      padding: 32px 0px;
      display: block;
    }

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    @include media(tablet) {
      &--current::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;

        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-color);
      }
    }
    @include media(max-m) {
      font-size: 40px;
      line-height: 1.75;
      letter-spacing: 0.02em;
    }
  }
  &__item:not(:last-child) {
    @include media(max-m) {
      margin-bottom: 32px;
    }
  }

  @include media(tablet) {
    &__item {
      position: relative;

      &:not(:last-child) {
        margin-right: 50px;
      }
    }
  }
  // Socials

  &__socials {
    display: flex;
    flex-wrap: wrap;

    @include media(tablet) {
      display: none;
    }
  }
  &__invet {
    &:not(:last-child) {
      padding-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
    &:not(:first-child) {
      padding-left: 10px;
    }
  }

  &__social--link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    color: var(--accent-color);
  }
}
// =========Contacts==========

.contacts {
  @include media(max-m) {
    margin-bottom: 64px;
    margin-top: auto;
  }

  @include media(tablet-only) {
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
  }
  @include media(desktop) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  &__item:not(:last-child) {
    @include media(max-m) {
      margin-bottom: 32px;
    }
    @include media(tablet-only) {
      margin-bottom: 10px;
    }
    @include media(desktop) {
      margin-left: 30px;
    }
  }

  &__top-link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--paragraf-color);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }

    @include media(desktop) {
      display: flex;
      align-items: center;
    }
  }
  .mail {
    @include media(max-m) {
      font-size: 24px;
      line-height: 1.16px;
    }
  }
  .phone {
    @include media(max-m) {
      font-size: 34px;
      line-height: 1.17;
    }
  }
  &__icon--phone,
  &__icon--mail {
    fill: currentColor;
    margin-right: 8px;
    @include media(max-m) {
      display: none;
    }

    @include media(desktop) {
      margin-right: 10px;
    }
  }
  &__icon--mail {
    @include media(tablet-only) {
      width: 14px;
      height: 10px;
    }
  }
  &__icon--phone {
    @include media(tablet-only) {
      width: 10px;
      height: 14px;
    }
  }
}

.contacts__top-link,
.head-nav__link {
  @include media(desktop) {
    padding: 32px 0px;
  }

  @include transitionCubic(color);
}

// =======MENU BUTTON======

.menu-button {
  width: 40px;
  height: 40px;
  overflow-y: scroll;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;

  background-color: transparent;
  cursor: pointer;
  margin-left: auto;
  border: none;
  z-index: 3;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  @include transitionCubic(fill);

  @media screen and (min-width: 768px) {
    display: none;
  }
  & .icon-menu {
    display: none;
  }

  &.is-open .icon-menu {
    display: block;
  }
  &.is-open .icon-cross {
    display: none;
  }
}
