.header-prt {
  background-color: var(--white-color);
  border-bottom: 1px solid var(--bgc-color-white);
  position: relative;
}

.portfolio-title {
  @extend %hidden;
}

// ==================GALLERY============

.gallery {
  @include media(tablet-only) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.galery-link {
  @include media(tablet-only) {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.gallery-item {
  @include media(mobile-only) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include media(tablet-only) {
    max-width: 354px;
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100%-90px / 3);
    margin: 15px;
  }

  @include transitionCubic(background-color);

  &:hover .product-box,
  &:focus .product-box {
    transform: translateY(0%);
  }
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.p-descrition {
  border: 1px solid #eeeeee;
  border-top: 0px;
  padding: 20px 24px;
  flex-grow: 1;

  @include media(max-m) {
    max-width: 450px;
  }
  &__title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  &__text {
    font-size: 16px;
    line-height: 1.9;
    color: var(--paragraf-color);
  }
}

.product {
  position: relative;
  overflow: hidden;
  @include media(max-m) {
    max-width: 450px;
  }
  &-box {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    @include transitionCubic(transform);
  }
  &-desc {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    font-size: 18px;
    line-height: 1.55;

    color: var(--white-color);

    @include media(desctop) {
    }
    padding: 63px 24px;

    @include media(tablet) {
    }
    padding: 49px 24px 77px 24px;
  }
}

//====================== Portfolio btns===================//
.btn-list {
  @include media(max-m) {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
  }
  @include media(tablet) {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }
  &__item:not(:last-child) {
    margin-right: 8px;
  }
  &__item:nth-last-child(n + 3) {
    @include media(mobile-only) {
      margin-bottom: 15px;
    }
  }
}



